/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


/* General Assets */

*{
    font-family: 'Nunito', 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    text-decoration: none;
    list-style-type: none;
}

/* Cores utilizadas no projeto */

:root{
    --azul-primario: #014C8C;
    --azul-links: #1155CC;
    --azul-descricao: #80A6C6;
    --azul-waves: #427fe9;
    --azul-waves-alt: #012C77;

    --branco: #FFFFFF;
    
    --grey-500: #6B7280;
    --grey-600: #4B5563;
    --grey-900: #111827;
    
    --cinza-principal: #F7F7F7;
    --cinza-secundario: #6D6E70;
    --cinza-bg: #E9E9E9;
    
    --preto-secundario: #091620;
}

/* Definição de propriedades da página - Selection e Scrollbar */


/* Selection */

::selection{
    background-color: var(--azul-links);
    color: var(--branco);
}

/* Scroll */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-600); 
}

/* classes estilizadas */

/* First Section */

.display-title{
    font-weight: bolder;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    color: #1F2937;
}

.text-description{
    color: var(--grey-600);
    font-weight: normal;
    font-size: 18px;
}

.video-container, .video-home{
    margin: 0 auto !important;
}

/* Second Section */

.display-title-gallery{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: var(--branco);
}

.gallery-description{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--azul-descricao);
}

.hr-cards{
    background-color: var(--cinza-principal);
}


/* Second section wave container + waves SVG controllers's classes */

.wave-container{
    display: block;
}

.wave-top{
    position: absolute;
    top: 0;
    width: 100%;
  }

/* link classes +add coollinkclassanimation*/

a{
    text-decoration: none;
}

.NuxtLink{
    color: var(--grey-500);
    text-decoration: none;
    transition: .6s;
}

.NuxtLink:hover{
    text-decoration: none;
    color: var(--azul-links);
}

/* Config classes - utilidades */

.section-gap{
    padding: 4rem 0;
}

.text-justify{
    text-align: justify;
}

.bg-alt{
    background-color: var(--azul-primario);
}

/*  -- subset config -- transition classes */

.transition-2{
    transition: .2s;
}
.transition-4{
    transition: .4s;
}
.transition-6{
    transition: .6s;
}
.transition-8{
    transition: .8s;
}

/* Utilities bootstrap not has */

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.index-100{
    z-index: 100;
}

.d-grid{
    display: grid;
}

.br-40px{
    border-radius: 40px !important;
}

.br-20px{
    border-radius: 20px !important;
}

